pandas
docopt
python-dotenv
bs4
requests
sklearn
jupyter
seaborn
progressbar2
rope
numpy
spacy==2.3.5
https://github.com/allanwright/media-classifier-core/archive/v1.2.3.tar.gz
azure-storage-queue
azure-storage-blob